{{#link-to 'question' question.id}}
  <div class="questionItem">
    <span class="questionContent">{{question.content}}</span><br>
    <span class="questionAuthor">Author: {{question.author}}</span><br><br>
    {{popular question}} {{totalAnswers}}
  </div>
{{/link-to}}
