.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.createQuestionSection {
  padding-top: 20px;
  border-top: 1px solid dodgerblue;
}
