// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.bigBtn {
  width: 500px;
  height: 50px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  border: none;
  border-radius: 25px;
  transition: all 300ms linear;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
  &:hover {
    transition: all 300ms linear;
    border-radius: 0px;
    cursor: pointer;
  }
}

.primaryBtn {
  font-family: 'Montserrat', sans-serif;
  width: 200px;
  margin: 25px auto;
  height: 35px;
  background-color: black;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid black;
  transition: all 300ms linear;
  &:hover {
    transition: all 300ms linear;
    background-color: white;
    color: black;
    cursor: pointer;
  }
}

.secondaryBtn {
  font-family: 'Montserrat', sans-serif;
  width: 150px;
  padding: 5px 0px;
  margin: 8px 0px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  transition: all 300ms linear;
  &:hover {
    transition: all 300ms linear;
    background-color: tomato;
    color: white;
    cursor: pointer;
  }
}

.newAnswerForm {
  .primaryBtn {
    background-color: rgba(208,252,179, 0.8);
    color: black;
  }
}
