.questionList {
  margin-top: 5%;
  h2 {
    margin-bottom: 5%;
    font-weight: 200;
  }
}

.questionItem {
  border: 2px solid black;
  margin-bottom: 3%;
  padding: 3%;
  transition: all 300ms linear;
  color: black;
  &:hover {
    transition: all 300ms linear;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
  }
  .questionContent{
    font-size: 24px;
  }
}

.questionDetails {
  background-color: rgba(208,252,179, 0.8);
  padding: 50px 0px;
  h1 {
    font-size: 56px;
    margin: 0px;
    text-shadow: 1px 1px 1px white;
  }
  h2 {
    margin: 5px 0px;
  }
  h3 {
    margin: 5px 0px;
  }
}
