.createQuestionSection {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(208,252,179, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  input, textarea {
    margin-bottom: 2%;
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 2%;
    box-shadow: inset none;
  }
  label {
    padding-bottom: 5px;
  }
}
