<div class="createQuestionSection">
  <div class="container">
    <h1>Admin Console</h1>
  </div>
</div>
<div class="container">
  <div class="questionList">
    {{#each model as |question|}}
      {{question-tile question=question}}
      <div class="adminBtns">
        {{update-question question=question updateQuestion="updateQuestion" }}
        <button class="secondaryBtn"{{action 'delete' question}}>Delete this question</button>
      </div>
    {{/each}}
  </div>
</div>
