<div class="navigation">
  <div class="container">
    {{#link-to 'index'}}<h2 id="title">ASK.</h2>{{/link-to}}
  </div>
</div>
<span class="favorites">{{#link-to 'favorites'}}View your Favorites{{/link-to}}</span>
{{liquid-outlet}}
