
<div class="createQuestionSection">
  <div class="container">
    <h1>Your Favorite Questions</h1>
  </div>
</div>
<div class="container">
  <div class="questionList">
    {{display-favorites}}
  </div>
</div>
