{{new-question saveQuestion="saveQuestion"}}

<div class="container">
  <ul>
    {{#each model as |question|}}
    {{#link-to 'question' question.id}}<li>{{question.content}}<br>
      Author: {{question.author}}</li>{{/link-to}}
      {{/each}}
    </ul>
</div>
